@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --customWhite: #F8F9FA;
  --customBlack: #212529;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--customBlack);
  background: var(--customWhite);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
